@import "tailwindcss";
@tailwind utilities;
@theme {
  --color-light: #FFFFFF;
  --color-primary-300: #FFCC21;
  --color-primary-400: #FF963C;
  --color-primary-500: #EA6C00;
  --color-secondary-300: #8FE9D0;
  --gradient-primary-300-400: linear-gradient(90deg, #FFCC21, #FF963C);
  --color-dark-600: #2E2E2E;
  --color-dark-500: #414141;
  --color-dark-400: #777777;
  --breakpoint-xsm: 375px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1900px;
}
@custom-variant h-xsm (@media (min-height: 375px));
@custom-variant h-sm  (@media (min-height: 640px));
@custom-variant h-md  (@media (min-height: 768px));
@custom-variant h-lg  (@media (min-height: 1024px));
@custom-variant h-xl  (@media (min-height: 1280px));

@custom-variant h-hide-result (@media (max-height: 850px) and (min-width: 1024px));

@custom-variant w-h-lg (@media (min-height: 1024px) and (min-width: 1024px));

@utility bg-gradient-brand {
  background-image: var(--gradient-primary-300-400);
}

@utility text-xs {
  font-size: .625rem;
}
@utility text-sm {
  font-size: .75rem;
}
@utility text-md {
  font-size: .875rem;
}
@utility text-lg {
  font-size: 1rem;
}
@utility text-sub {
  font-size: 1.125rem;
}
@utility text-title {
  font-size: 1.5rem;
}
@utility text-display {
  font-size: 2rem;
}

@utility container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 960px;
  padding: 0 2rem;
  margin: 0 auto;
}

@layer utilities {
  .scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: var(--color-primary-300) var(--color-dark-400);
  }

  .scrollbar-custom::-webkit-scrollbar {
    width: 6px;
    border-radius: 999px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background-color: var(--color-dark-400);
    border-radius: 100vw;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: var(--color-primary-300);
    border-radius: 999px;
  }

  .scrollbar-hide {
    /* display: none; */
    scrollbar-width: 0;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide::-webkit-scrollbar-track {
    display: none;
  }

  .scrollbar-hide::-webkit-scrollbar-thumb {
    display: none;
  }

  .font-japanese {
    font-family: "Hiragino Kaku Gothic Pro", "Hiragino Sans", "Meiryo", sans-serif;
  }
}